<!DOCTYPE html>
<html>
<head>
  <title>HelperTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
<body id="site">

<div class="rule"></div>
<div class="left_bg"></div>
<div class="right_bg"></div>
<div class="top_bg"></div>
<%= render('header') %>
<%= content_tag(:div, yield, :id => 'content', :class => 'clearfix clear_header') %>
<%= content_tag(:div, render('entries/show'), :id => 'entry', :class => 'big_form') %>

</body></html>
